.sirovina-detalji-sadrzaj {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 25px;
}

.sirovina-detalji-sadrzaj-podaci {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sirovina-detalji-sadrzaj-podatak {
    display: flex;
}

.sirovina-detalji-sadrzaj-podatak-naslov {
    font-weight: bold;
    width: 150px;
}

.sirovina-detalji-sadrzaj-naslov {
    font-size: 30px;
}

.sirovina-detalji-footer {
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: end;
}

